<div class="Coins">
    <table class="table table-striped table-dark table-bordered">
        <tr>
            <th>Author</th>
            <th>Description</th>
            <th>Images</th>
        </tr>
        <tr *ngFor="let article of Data">
            <td>{{article.author}}</td>
            <td>{{article.description}}</td>
            <td>
                <a href="{{article.url}}">
                    <img class="media-object" src="{{article.urlToImage}}" style="width: 400px" height="250px">
                </a>
            </td>
        </tr>
    </table>
</div>