<nav class="navbar navbar-dark bg-dark">
    <img src="../../../assets/img/bitcoin-shield-2-571822.png" class="navLogo"> 
    <a href="" class="navbar-brand text-white">Currencies</a>
    <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">Logout</button>
</nav>
<table class="table table-striped table-dark table-bordered">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Market Cap</th>
        <th>Price</th>
        <th>Volume 24h</th>
        <th>Circulating supply</th>
        <th>Change 24h</th>
    </tr>
    <tr *ngFor="let coin of Data$">
        <td>{{coin.cmc_rank}}</td>
        <td>{{coin.name}}</td>
        <td>{{coin.quote.usd.market_cap}}</td>
        <td>{{coin.quote.usd.price}}</td>
        <td>{{coin.quote.usd.volume_24h}}</td>
        <td>{{coin.circulating_supply}}</td>
        <td>{{coin.quote.usd.percent_change_24h}}</td>
    </tr>

</table>
<!-- Get User Data -->

<!-- <div class="card m-5" style="width: 18rem" *ngIf="userDetails">
<ul class="list-group">
<li class="list-group-item"><strong>Usename : </strong>{{userDetails.userName}}</li>
<li class="list-group-item"><strong>fullName : </strong>{{userDetails.fullName}}</li>
<li class="list-group-item"><strong>Email : </strong>{{userDetails.email}}</li>
</ul>
</div> -->